<div class="flex flex-col h-screen">
  <app-branding></app-branding>
  <mat-nav-list class="sidebar-list flex-1">
    <app-nav-item *ngFor="let item of navItems" [item]="item"> </app-nav-item>
  </mat-nav-list>
  <button mat-raised-button class="logout-button mt-auto" (click)="logout()">
    <mat-icon class="icon">logout</mat-icon>
    Cerrar Sesión
  </button>
</div>

<style>
  .flex-layout {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ocupa toda la altura del contenedor */
}

.sidebar-list {
  flex: 1; /* Esto permite que la lista ocupe el espacio disponible */
}

::ng-deep .mat-drawer-side{
  border: none !important;
}

</style>