<div class="p-8">
    <h2 class="text-2xl font-semibold text-center mb-4">Actualizar abono</h2>
  
    <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()" class="grid gap-4">
      <!-- Fecha del Pago -->
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Fecha del Pago</mat-label>
        <input
          matInput
          [matDatepicker]="paymentDatePicker"
          formControlName="payment_date"
          placeholder="Seleccione la fecha del pago"
        />
        <mat-datepicker-toggle matPrefix [for]="paymentDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #paymentDatePicker></mat-datepicker>
        <mat-error *ngIf="paymentForm.get('payment_date')?.hasError('required')">
          La fecha de pago es requerida
        </mat-error>
      </mat-form-field>
      <!-- Monto -->
      <mat-form-field appearance="outline">
        <mat-label>Monto</mat-label>
        <input 
          matInput 
          [value]="formattedAmountPay"
          placeholder="Ingrese el monto del pago" 
          (keypress)="handleKeyPress($event)" 
          (input)="onAmountPayCapitalInput($event)" 
          />
        <mat-error *ngIf="paymentForm.get('amount')?.hasError('required')">Campo requerido</mat-error>
        <mat-error *ngIf="paymentForm.get('amount')?.hasError('min')">Debe ser mayor a 0</mat-error>
      </mat-form-field>
  
      <!-- Tipo de Pago -->
      <mat-form-field appearance="outline">
        <mat-label>Tipo de Pago</mat-label>
        <mat-select formControlName="payment_type">
          <mat-option *ngFor="let type of paymentTypes" [value]="type">{{ type }}</mat-option>
        </mat-select>
        <mat-error *ngIf="paymentForm.get('payment_type')?.hasError('required')">Campo requerido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Descripción</mat-label>
        <textarea 
          matInput 
          formControlName="description" 
          placeholder="Ingrese una descripción"
          rows="3">
        </textarea>
        <mat-error *ngIf="paymentForm.get('description')?.hasError('required')">
          La descripción es requerida.
        </mat-error>
        <mat-error *ngIf="paymentForm.get('description')?.hasError('maxLength')">
          La descripción no puede superar los 250 caracteres.
        </mat-error>
      </mat-form-field>
  
      <!-- Botones -->
      <div class="flex justify-center gap-4">
        <button mat-raised-button mat-dialog-close>Cancelar</button>
        <button mat-raised-button color="primary" type="submit">Guardar</button>
      </div>
    </form>
  </div>
  
