<div class="container mx-auto p-6">
    <div mat-dialog-title>
        <h1 class="text-3xl font-semibold mb-6 text-black">HISTORIAL DE ABONOS</h1>
    </div>
    <mat-dialog-content >
      <div id="history-content">
        <!-- Información del cliente -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
       

          <div class="text-black ">
            <!-- Cliente -->
             <div class="flex">

               <p class="font-semibold">Cliente: </p>
               <p class="font-normal ml-2 ">
                 {{ infoCredito.client.first_name.toUpperCase() }} {{ infoCredito.client.last_name.toUpperCase() }}
               </p>
             </div>
            <!-- Identificación -->
            <div class="flex">
              <p class="font-semibold">Identificación:</p>
              <p class="font-normal ml-2">
                {{ infoCredito.client.document_number }}
              </p>
            </div>
            <!-- Fecha inicio crédito -->
            <div class="flex">
              <p class="font-semibold">Fecha inicio crédito:</p>
              <p class="font-normal ml-2">
                {{ infoCredito.loan_date }}
              </p>
            </div>
            <!-- Monto de crédito -->
            <div class="flex">
              <p class="font-semibold">Monto de crédito:</p>
              <p class="font-normal ml-2">
                {{ infoCredito.loan_amount | currency: '' }}
              </p>
            </div>
            <!-- Tasa de interés corriente -->
            <div class="flex">
              <p class="font-semibold">Tasa de interés corriente:</p>
              <p class="font-normal ml-2">
                {{ infoCredito.interest_rate }}% mensual
              </p>
            </div>
            <!-- Fecha de emisión del reporte -->
            <div class="flex">
              <p class="font-semibold">Fecha de emisión del reporte:</p>
              <p class="font-normal ml-2">
                {{ currentDate | date: 'dd/MM/yyyy' }}
              </p>
            </div>
          </div>
          
            <div>
                <div class="flex justify-end gap-4">
                  <button 
                    mat-raised-button 
                    color="primary" 
                    class="flex items-center"   
                    (click)="createAbono()"
                    [disabled]="infoCredito.load_status == 'PAGADO'"
                  >
                    <mat-icon>add_circle_outline</mat-icon>
                    Registrar Abono
                  </button>

                  <button mat-raised-button color="primary" class="bg-primary flex items-center space-x-2" (click)="generatePDF()">
                      <mat-icon>print</mat-icon>
                      <span>Imprimir Kardex</span>
                  </button>
                </div>
            </div>
        </div>


       
        <h2 class="text-2xl font-semibold mb-4 text-gray-950">Estado actual del crédito:</h2>
        <!-- Tabla con Material Design -->
        <div class="overflow-x-auto ">
            <table mat-table [dataSource]="conceptsCredit" class="w-full border-collapse mb-4">
                <!-- Concepto Column -->
                <ng-container matColumnDef="concept">
                    <th mat-header-cell *matHeaderCellDef
                        class="bg-primary text-white px-6 py-3 text-center rounded-tl-lg text-center">
                        Concepto</th>
                    <td mat-cell *matCellDef="let element"
                        class="px-6 py-4 border-b border-gray-200 text-gray-700 text-center">{{
                        element.concept }}</td>
                </ng-container>

                <!-- Monto Column -->
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef
                        class="bg-primary text-white px-6 py-3 text-center rounded-tr-lg text-center">
                        Monto</th>
                    <td mat-cell *matCellDef="let element"
                        class="px-6 py-4 border-b border-gray-200  text-gray-700 text-center">{{ element.amount |
                        currency:'':'symbol':'1.2-2' }}</td>
                </ng-container>

                <!-- Header and Row Declarations -->
                <tr mat-header-row *matHeaderRowDef="displayedColumnsStateCredit"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsStateCredit;"></tr>
            </table>
            <br>
        </div>



        <div class="container mx-auto p-6">
            <h2 class="text-2xl font-semibold text-gray-950 mb-4">Historial de movimientos (mensual):</h2>
            <div class="overflow-x-auto">
                <table mat-table [dataSource]="historyPayments" class="w-full border-collapse bg-white">
      
                    <!-- Fecha del abono Column -->
                    <ng-container matColumnDef="paymentDate">
                      <th mat-header-cell *matHeaderCellDef class="bg-primary text-white px-4 py-3 text-left rounded-tl-lg">Fecha del abono</th>
                      <td mat-cell *matCellDef="let element" class="px-4 py-2 border-b border-gray-200">{{ element.paymentDate }}</td>
                    </ng-container>
              
                    <!-- Interés Corriente Column -->
                    <ng-container matColumnDef="currentInterest">
                      <th mat-header-cell *matHeaderCellDef class="bg-primary text-white px-4 py-3 text-left">Interés corriente</th>
                      <td mat-cell *matCellDef="let element" class="px-4 py-2 border-b border-gray-200 text-right">{{ element.currentInterest || 0 | currency: '' }}</td>
                    </ng-container>
              
                    <!-- Abono a Capital Column -->
                    <ng-container matColumnDef="capitalPayment">
                      <th mat-header-cell *matHeaderCellDef class="bg-primary text-white px-4 py-3 text-left">Abono a capital</th>
                      <td mat-cell *matCellDef="let element" class="px-4 py-2 border-b border-gray-200 text-right">{{ element.capitalPayment || 0 | currency: '' }}</td>
                    </ng-container>
              
                    <!-- Abono a Interés Column -->
                    <ng-container matColumnDef="interestPayment">
                      <th mat-header-cell *matHeaderCellDef class="bg-primary text-white px-4 py-3 text-left">Abono a interés</th>
                      <td mat-cell *matCellDef="let element" class="px-4 py-2 border-b border-gray-200 text-right">{{ element.interestPayment || 0 | currency: '' }}</td>
                    </ng-container>
                            
                    <!-- Pago Total Column -->
                    <ng-container matColumnDef="amount">
                      <th mat-header-cell *matHeaderCellDef class="bg-primary text-white px-4 py-3 text-left">Pago total</th>
                      <td mat-cell *matCellDef="let element" class="px-4 py-2 border-b border-gray-200 text-right">{{ element.amount || 0 | currency: '' }}</td>
                    </ng-container>
              
                    <!-- Capital Actual Column -->
                    <ng-container matColumnDef="currentCapital">
                      <th mat-header-cell *matHeaderCellDef class="bg-primary text-white px-4 py-3 text-left">Capital actual</th>
                      <td mat-cell *matCellDef="let element" class="px-4 py-2 border-b border-gray-200 text-right">{{ element.currentCapital || 0 | currency: '' }}</td>
                    </ng-container>
              
                    <!-- Capital Pendiente Column -->
                    <ng-container matColumnDef="pendingCapital">
                      <th mat-header-cell *matHeaderCellDef class="bg-primary text-white px-4 py-3 text-left">Capital pendiente</th>
                      <td mat-cell *matCellDef="let element" class="px-4 py-2 border-b border-gray-200 text-right">{{ element.remainingCapital || 0 | currency: '' }}</td>
                    </ng-container>



                    <!-- Observaciones -->
                    <ng-container matColumnDef="description">
                      <th mat-header-cell *matHeaderCellDef class="bg-primary text-white px-4 py-3 text-left  rounded-tr-lg">Observaciones</th>
                      <td mat-cell *matCellDef="let element" class="px-4 py-2 border-b border-gray-200 text-right">{{ element.description || ''  }}</td>
                    </ng-container>
              
                    <!-- Header and Row Declarations -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
            </div>
        </div>
      </div>
    </mat-dialog-content>


    <mat-dialog-actions align="center" class="p-4">
        <button mat-raised-button mat-dialog-close color="primary">Cerrar</button>
    </mat-dialog-actions>
</div>