<div class="container mx-auto mt-4">
    <mat-card class="mat-elevation-z6 rounded-lg">
        <mat-card-header class="px-4">
            <div [formGroup]="notificacionesForm"
                class="notificaciones-container grid grid-cols-1 lg:grid-cols-3 gap-4 w-full">

                <mat-form-field class="col-span-1 lg:col-span-1 w-full" appearance="outline">
                    <mat-label class="ml-11">Buscar cliente</mat-label>
                    <mat-icon matPrefix>person_search</mat-icon>

                    <input type="text" matInput formControlName="clientSearch"
                        placeholder="Buscar por nombre, apellido, documento" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onClientSelected($event.option.value)"
                        [displayWith]="displayClient">
                        <mat-option *ngFor="let client of filteredClients | async" [value]="client">
                            {{ client.first_name }} {{ client.last_name }} - {{ client.document_number }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>



                <mat-form-field appearance="outline" class="col-span-1 lg:col-span-1 w-full">
                    <mat-label class="ml-10">Estado del crédito</mat-label>
                    <mat-select formControlName="load_status" (selectionChange)="filterCredits()">
                        <mat-option value="ACTIVO">ACTIVO</mat-option>
                        <mat-option value="PAGADO">PAGADO</mat-option>
                        <mat-option value="MORA">MORA</mat-option>
                    </mat-select>
                    <mat-icon matPrefix>info</mat-icon>
                </mat-form-field>


                <mat-form-field appearance="outline" class="col-span-1 lg:col-span-1 w-full">
                  <mat-label>Relación de Trabajo</mat-label>
                  <mat-select formControlName="job_relationship" #jobRelationshipSelect (selectionChange)="filterCredits()">
                    <mat-option>Ninguno</mat-option>
                    <mat-option *ngFor="let relationship of lisJobRelationShips" [value]="relationship.id">
                      {{ relationship.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
        
                <mat-form-field appearance="outline" class="col-span-1 lg:col-span-1 w-full">
                  <mat-label>Tipo Vinculación</mat-label>
                  <mat-select formControlName="type_linkage" #typeLinkageSelect (selectionChange)="filterCredits()">
                    <mat-option>Ninguno</mat-option>
                    <mat-option *ngFor="let linkage of lisTypeLinkages" [value]="linkage.id">
                      {{ linkage.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-span-1 lg:col-span-1 w-full">
                  <mat-label>Tipo de Recordatorio</mat-label>
                  <mat-select formControlName="reminder_type" (selectionChange)="openReminderModal($event)">
                    <!-- Opción para "ninguno" -->
                    <mat-option [value]="null">Ninguno</mat-option>
                    <mat-option [value]="'Recordatorio de pago'">Recordatorio de pago</mat-option>
                    <mat-option [value]="'Debe pagar puntual'">Debe pagar puntual</mat-option>
                    <mat-option [value]="'¿Para cuando el pago?'">¿Para cuando el pago?</mat-option>
                  </mat-select>
                </mat-form-field>
                

                <div class="flex justify-center items-center col-span-1 lg:col-span-1 space-x-2 mt-3">
                  <button mat-raised-button color="secoundary" type="button" class="flex items-center" (click)="resetFilters()">
                    <mat-icon class="mr-2">clear</mat-icon>
                    Limpiar
                  </button>
                    <button mat-raised-button color="primary" type="submit" class="flex items-center " (click)="sendNotificationSelectedCredits()">
                      <mat-icon class="mr-2">notifications</mat-icon> 
                      Enviar notificación
                    </button>
                </div>
            </div>
        </mat-card-header>

        <mat-card-content>
            <div class="overflow-x-auto">
                <table mat-table [dataSource]="dataSource" matSort class="min-w-full shadow-md rounded-lg bg-back">
              
                  <!-- Columna de Selección -->
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox
                        (change)="$event ? masterToggle() : null"
                        [checked]="isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        aria-label="Select all rows">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox
                        (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        aria-label="Select row">
                      </mat-checkbox>
                    </td>
                  </ng-container>
              
                  <!-- Columna Cliente -->
                  <ng-container matColumnDef="client">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-bold p-4">Cliente</th>
                    <td mat-cell *matCellDef="let credit">{{ credit.client.first_name }} {{ credit.client.last_name }}</td>
                  </ng-container>
                  
                  <ng-container matColumnDef="job_relationship">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-bold p-4"> Rl. Laboral </th>
                    <td mat-cell *matCellDef="let credit">
                      {{ credit.client.job_relationship.name }}
                    </td>
                  </ng-container>

                  <!-- Valor Interés -->
                  <ng-container matColumnDef="interest_value">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-bold p-4">Valor interés </th>
                    <td mat-cell *matCellDef="let credit">{{ credit.interest_value | currency:'' }}</td>
                  </ng-container>
                 
                  <!-- Total Deuda -->
                  <ng-container matColumnDef="total_debt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-bold p-4">Total deuda </th>
                    <td mat-cell *matCellDef="let credit">{{ credit.total_debt | currency:'' }}</td>
                  </ng-container>
              
                  <!-- Saldo Pendiente -->
                  <ng-container matColumnDef="remaining_balance">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-bold p-4">Saldo pendiente </th>
                    <td mat-cell *matCellDef="let credit">{{ credit.remaining_balance | currency:'' }}</td>
                  </ng-container>
              
                  <!-- Próximo Pago -->
                  <ng-container matColumnDef="next_payment_date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-bold p-4">Próximo pago</th>
                    <td mat-cell *matCellDef="let credit">
                      {{ credit.next_payment_date ? (credit.next_payment_date) : '' }}
                    </td>
                  </ng-container>
              
                  <!-- Estado del Crédito -->
                  <ng-container matColumnDef="loan_status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-bold p-4">Estado</th>
                    <td mat-cell *matCellDef="let credit">{{ credit.load_status }}</td>
                  </ng-container>
              
                  <!-- Definiciones de Filas y Encabezados de la Tabla -->
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div class="container">
                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                  </div>
              </div>
            
        </mat-card-content>
    </mat-card>
</div>