<div class="container">
    <h2 class="text-xl font-medium text-black text-center">Cambio de contraseña</h2>
    <mat-dialog-content>
        <form [formGroup]="changePasswordForm">
            <!-- Campo Nueva Contraseña -->
            <div>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" />
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Mostrar contraseña'">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                @if (f['password'].invalid && (f['password'].dirty || f['password'].touched)) {
                    @if (f['password'].errors?.['required']) {
                    <mat-error>La contraseña es requerida</mat-error>
                    }
                    @if (f['password'].errors?.['minlength']) {
                    <mat-error>Mínimo 6 caracteres.</mat-error>
                    }
                }
            </div>

            <!-- Campo Confirmar Contraseña -->
            <div>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label for="password_confirm">Confirmar Contraseña</mat-label>
                    <input matInput id="password_confirm" type="password" formControlName="password_confirm"
                        placeholder="Confirma tu nueva contraseña" [type]="hide ? 'password' : 'text'" />
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Mostrar contraseña'">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                @if (f['password_confirm'].invalid && (f['password_confirm'].dirty || f['password_confirm'].touched)) {
                    @if(f['password_confirm'].errors?.['required']){
                    <mat-error>La confirmación es obligatoria.</mat-error>
                    }
                    @if(f['password_confirm'].errors?.['minlength']){
                    <mat-error>Mínimo 6 caracteres.</mat-error>
                    }
                }
            </div>
            <!-- Estado de carga -->
            @if (isSubmitting) {
            <div>Procesando...</div>
            }
        </form>

    </mat-dialog-content>
    <mat-dialog-actions align="center" class="p-4 flex ">
        <button mat-raised-button mat-dialog-close>Cancelar</button>
        <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="isSubmitting">Actualizar
            contraseña</button>
    </mat-dialog-actions>
</div>