<div class="flex justify-center items-center min-h-screen bg-light-primary">
  <div class="w-full max-w-md">
    <mat-card class="shadow-lg rounded-lg p-6">
      <mat-card-content>
        <!-- Logo -->
        <div class="text-center mb-6">
          <a [routerLink]="['/credits']">
            <img
              src="./assets/images/logos/logoC.png"
              class="mx-auto imagen-logo"
              alt="logo"
            />
          </a>
        </div>

        <!-- Título de la sesión -->
        <mat-card-title class="text-center text-2xl font-bold text-primary mb-4">INICIAR SESIÓN</mat-card-title>

        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <!-- Usuario -->
          <mat-form-field appearance="outline" class="w-full mb-4" color="primary">
            <mat-label>Usuario</mat-label>
            <input matInput formControlName="username" placeholder="Ingresa tu usuario" />
          </mat-form-field>
          
          <!-- Contraseña -->
          <mat-form-field appearance="outline" class="w-full mb-2" color="primary">
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="Ingresa tu contraseña" />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Mostrar contraseña'">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          
          <small class="block text-center mb-4 text-gray-500">
            Haga clic en el ojo para alternar la visibilidad.
          </small>

          <!-- Recordarme y olvidé mi contraseña -->
          <div class="flex items-center justify-between mb-6">
            <mat-checkbox color="primary" formControlName="rememberMe">Acuérdate de mí</mat-checkbox>
            <a [routerLink]="['/forgot-password']" class="text-primary font-medium text-sm">
              ¿Has olvidado tu contraseña?
            </a>
          </div>

          <!-- Botón de acceso -->
          <button mat-flat-button color="primary" class="w-full py-2 text-white font-bold bg-primary hover:bg-primary-dark" type="submit" [disabled]="loginForm.invalid">
            ACCESO
          </button>
        </form>

        <!-- Crear cuenta -->
        <div class="text-center mt-6">
          <p class="text-gray-600">¿No tienes una cuenta?</p>
          <a [routerLink]="['/register']" class="text-primary font-medium">Haz click aquí para crear una</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  @if(isLoading){
    <loader-page/>
  }
</div>

<style>
  .imagen-logo {
    max-width: 25%;
  }

  .text-primary {
    color: #014737;
  }

  .bg-primary {
    background-color: #014737;
  }

  .hover\:bg-primary-dark:hover {
    background-color: #016950;
  }

  .bg-light-primary {
    background-color: #d9f3ee;
  }
</style>
