<div class="contenedor p-4 mt-2">
    @if(this.isEditMode){
    <h3 class="text-xl font-medium text-black text-center">Modificar usuario</h3>
    }
    @else{
    <h3 class="text-xl font-medium text-black text-center">Registro nuevo usuario</h3>
    }
    <mat-dialog-content>
        <form [formGroup]="userForm" class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <!-- Nombre de Usuario -->
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Nombre de Usuario</mat-label>
                <input matInput formControlName="username" (input)="convertToLowerCase($event)" />
                <mat-error *ngIf="userForm.get('username')?.hasError('required')">
                    El nombre de usuario es requerido
                </mat-error>
                <mat-error *ngIf="userForm.get('username')?.hasError('maxlength')">
                    Máximo 70 caracteres permitidos
                </mat-error>
            </mat-form-field>

            <!-- Nombre -->
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Nombres</mat-label>
                <input matInput formControlName="names" />
                <mat-error *ngIf="userForm.get('names')?.hasError('required')">
                    El nombre es requerido
                </mat-error>
                <mat-error *ngIf="userForm.get('names')?.hasError('maxlength')">
                    Máximo 70 caracteres permitidos
                </mat-error>
            </mat-form-field>

            <!-- Apellido -->
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Apellidos</mat-label>
                <input matInput formControlName="surnames" />
                <mat-error *ngIf="userForm.get('surnames')?.hasError('required')">
                    El apellido es requerido
                </mat-error>
                <mat-error *ngIf="userForm.get('surnames')?.hasError('maxlength')">
                    Máximo 70 caracteres permitidos
                </mat-error>
            </mat-form-field>

            <!-- Correo -->
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Correo</mat-label>
                <input matInput formControlName="email" type="email" />
                <mat-error *ngIf="userForm.get('email')?.hasError('required')">
                    El correo electrónico es requerido.
                  </mat-error>
                  <mat-error *ngIf="userForm.get('email')?.hasError('email') && !userForm.get('email')?.hasError('required')">
                    Formato correo electrónico incorrecto
                  </mat-error>
            </mat-form-field>

            @if(!this.isEditMode){
            <!-- Contraseña -->
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Mostrar contraseña'">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="userForm.get('password')?.hasError('required')">
                    La contraseña es requerida
                </mat-error>
            </mat-form-field>
            }

            <!-- Tipo de Usuario -->
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Tipo de Usuario</mat-label>
                <mat-select formControlName="type_user">
                    <mat-option *ngFor="let type of userTypes" [value]="type">{{ type }}</mat-option>
                </mat-select>
                <mat-error *ngIf="userForm.get('type_user')?.hasError('required')">
                    El tipo de usuario es requerido
                </mat-error>
            </mat-form-field>

            <!-- Tipo de Documento -->
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Tipo de Documento</mat-label>
                <mat-select formControlName="type_document">
                    <mat-option *ngFor="let type of documentTypes" [value]="type">{{ type }}</mat-option>
                </mat-select>
                <mat-error *ngIf="userForm.get('type_document')?.hasError('required')">
                    El tipo de documento es requerido
                </mat-error>
            </mat-form-field>

            <!-- Documento -->
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Documento</mat-label>
                <input matInput formControlName="document" (keypress)="handleKeyPress($event)" />
                <mat-error *ngIf="userForm.get('document')?.hasError('required')">
                    El documento es requerido
                </mat-error>
                <mat-error *ngIf="userForm.get('document')?.hasError('pattern')">
                    Se requiere entre 8 y 10 dígitos
                </mat-error>
            </mat-form-field>

            <!-- Departamento -->
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Departamento</mat-label>
                <input matInput formControlName="department" />
                <mat-error *ngIf="userForm.get('department')?.hasError('required')">
                    El departamento es requerido
                </mat-error>
                <mat-error *ngIf="userForm.get('department')?.hasError('maxlength')">
                    Máximo 70 caracteres permitidos
                </mat-error>
            </mat-form-field>

            <!-- Ciudad -->
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Ciudad</mat-label>
                <input matInput formControlName="city" />
                <mat-error *ngIf="userForm.get('city')?.hasError('required')">
                    La ciudad es requerida
                </mat-error>
                <mat-error *ngIf="userForm.get('city')?.hasError('maxlength')">
                    Máximo 70 caracteres permitidos
                </mat-error>
            </mat-form-field>

            <!-- Teléfono -->
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Teléfono</mat-label>
                <input matInput formControlName="cellphone" (keypress)="handleKeyPress($event)" />
                <mat-error *ngIf="userForm.get('cellphone')?.hasError('required')">
                    El teléfono es requerido
                </mat-error>
                <mat-error *ngIf="userForm.get('cellphone')?.hasError('pattern')">
                    Debe contener entre 7 y 10 dígitos
                </mat-error>
            </mat-form-field>

            <!-- Fecha de Nacimiento -->
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Fecha de nacimiento</mat-label>
                <input matInput [matDatepicker]="birthdayPicker" formControlName="birthdate"
                    placeholder="Fecha de recordatorio" />
                <mat-datepicker-toggle matPrefix [for]="birthdayPicker"></mat-datepicker-toggle>
                <mat-datepicker #birthdayPicker></mat-datepicker>
                <mat-error *ngIf="userForm.get('birthdate')?.hasError('required')">
                    Fecha de nacimiento es requerida
                </mat-error>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="center" class="p-4">
        <button mat-raised-button mat-dialog-close>Cerrar</button>
        <button mat-raised-button color="primary" (click)="onSubmit()">Guardar</button>
    </mat-dialog-actions>
</div>