.container {
    @apply p-6 bg-gray-100 rounded-lg;
  }
  
  table {
    @apply min-w-full border-collapse;
  }
  
  td {
    @apply px-4 py-2 border-b border-gray-200;
  }
  
  tr:nth-child(even) {
    @apply bg-gray-100;
  }
  
  tr:hover {
    @apply bg-gray-50;
  }

  .overflow-x-auto {
    overflow-x: auto;
  }

::ng-deep .mat-mdc-table .mat-mdc-header-cell
{
  background-color: #3f6699  !important; //#5D87FF !important;

}