.linea{
    border-top: solid  2px black;
}

.border-caja{
    border: solid black 2px;
}

.payment-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    padding: 10px 20px 10px 20px;
    color: black;
}

.form-content {
    flex: 2;
    min-width: 300px; /* Define un ancho mínimo para evitar que los campos se vuelvan demasiado pequeños */
}

.summary-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // border-left: 1px solid #ddd;

}

.form-row {
    display: flex;
    align-items: center;
    gap: 5px;
}

.section-title {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 8px;
}

.half-width {
    flex: 1;
}

.full-width {
    width: 100%;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 250px;
    margin-bottom: 4px;
}

.summary-value {
    font-weight: 600;
}

.total {
    border-top: 2px solid #000;
    padding-top: 8px;
    font-weight: bold;
}
.w-40{
    width: 45%;
}
/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    .payment-container {
        flex-direction: column;
    }

    .summary-section {
        align-items: flex-start; /* Cambia la alineación a la izquierda en pantallas pequeñas */
        border-left: none; /* Quita la línea divisoria en pantallas pequeñas */
        border-top: 1px solid #ddd;
        padding-top: 16px;
        margin-top: 24px; /* Añade un poco de espacio superior */
    }

    .form-row {
        flex-direction: column; /* Coloca los campos en una columna en lugar de fila */
        gap: 8px; /* Reduce el espacio entre elementos */
    }

    .form-content, .summary-section {
        width: 100%; /* Asegura que ocupen todo el ancho disponible */
    }
}

