<div mat-dialog-title>
    <h1 class="text-2xl font-bold text-center mb-6 mt-4 text-black">ABONO DE CRÉDITO</h1>
</div>

<mat-dialog-content>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6 text-center">
        <!-- Tarjeta de Capital Pendiente -->
        <div class="border rounded-md shadow-md">
            <div class="bg-primary text-white py-3 rounded-t-md">
                <p class="font-semibold text-center">CAPITAL PENDIENTE</p>
            </div>
            <div class="bg-white py-3">
                <p class="text-xl font-bold text-center text-black">{{ dataCredit.capitalPendiente | currency: '' }}</p>
            </div>
        </div>

        <!-- Tarjeta de Intereses Acumulados Pendientes -->
        <div class="border rounded-md shadow-md">
            <div class="bg-primary text-white py-3 rounded-t-md">
                <p class="font-semibold text-center">INTERÉS ACUMULADO PENDIENTE</p>
            </div>
            <div class="bg-white py-3">
                <p class="text-xl font-bold text-center text-black">{{ dataCredit.interesAcumuladoPediente  | currency: '' }}</p>
            </div>
        </div>
    </div>

    <div class="payment-container">
        <!-- Formulario a la izquierda -->
        <form [formGroup]="paymentForm" class="form-content">
            <!-- Fecha de Pago -->
            <div class=" justify-start">
                <mat-form-field appearance="outline" class="field w-40">
                    <mat-label>Fecha:</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="payment_date" placeholder="Fecha" />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
    
            <!-- Pago a Intereses -->
            <div class="form-section">
                <h3 class="section-title">Pago a intereses</h3>
                <div class="form-row flex justify-between">
                    <mat-form-field appearance="outline" class="field">
                        <mat-label>Valor:</mat-label>
                        <input 
                            type="text"
                            matInput 
                            [value]="formattedAmountPayInteres"
                            (input)="onAmountPayInteresInput($event)" 
                            placeholder="Valor pago interes" 
                            (keypress)="handleKeyPress($event)" 
                        />
                        <span matPrefix>$&nbsp;</span>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" class="field">
                        <mat-label>Método de pago:</mat-label>
                        <mat-select formControlName="interest_payment_method">
                            <mat-option value="Efectivo">Efectivo</mat-option>
                            <mat-option value="Transferencia">Transferencia</mat-option>
                            <mat-option value="Tarjeta">Tarjeta</mat-option>
                        </mat-select>
                    </mat-form-field>
    
                </div>
                <mat-checkbox formControlName="includeLateInterest">¿Incluye mora?</mat-checkbox>
            </div>
    
            <!-- Pago a Capital -->
            <div class="form-section ">
                <h3 class="section-title">Pago a capital</h3>
                <div class="form-row flex justify-between">
                    <mat-form-field appearance="outline" class="field">
                        <mat-label>Valor:</mat-label>
                        <input 
                            type="text" 
                            matInput 
                            [value]="formattedAmountPayCapital"
                            (input)="onAmountPayCapitalInput($event)"
                            placeholder="Pago a capital" 
                            (keypress)="handleKeyPress($event)" 
                        />
                        <span matPrefix>$&nbsp;</span>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" class="field">
                        <mat-label>Método de pago:</mat-label>
                        <mat-select formControlName="capital_payment_method">
                            <mat-option value="Efectivo">Efectivo</mat-option>
                            <mat-option value="Transferencia">Transferencia</mat-option>
                            <mat-option value="Tarjeta">Tarjeta</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
    
        <!-- Sección de totales a la derecha -->
        <div class="summary-section">
            <div class="summary-row">
                <span>Intereses:</span>
                <span class="summary-value">{{ interestTotal | currency: '' }}</span>
            </div>
    
            <div class="summary-row">
                <span>Capital:</span>
                <span class="summary-value">{{ capitalTotal | currency: '' }}</span>
            </div>
    
            <div class="summary-row total">
                <span>Total a pagar:</span>
                <span class="summary-value">{{ totalAmount | currency: '' }}</span>
            </div>
        </div>
    </div>
    
    <!-- {{paymentForm.value | json}} -->
    
    
</mat-dialog-content>

<mat-dialog-actions align="center" class="p-4">
    <button mat-raised-button mat-dialog-close>Volver</button>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="paymentForm.invalid">Abonar</button>
</mat-dialog-actions>
