$mat-primary: (
  100: #C4E3E2, // Color más claro
  500: #005555, // Color principal
  700: #004141, // Color más oscuro
  contrast: (
    100: black, // Contraste del color claro
    500: white, // Contraste del color principal
    700: white, // Contraste del color oscuro
  ),
);

// Definir el color secundario
$mat-secondary: (
  100: #Ebf6F5, // Color más claro
  500: #0B7F7F, // Color principal
  700: #006A6A, // Color más oscuro
  contrast: (
    100: black, // Contraste del color claro
    500: white, // Contraste del color principal
    700: white, // Contraste del color oscuro
  ),
);

// Definir el color de advertencia
$mat-warn: (
  100: #FDEDE8, // Color más claro
  500: #fa896b, // Color principal
  700: #f3704d, // Color más oscuro
  contrast: (
    100: black, // Contraste del color claro
    500: white, // Contraste del color principal
    700: white, // Contraste del color oscuro
  ),
);
$theme-primary: mat.define-palette($mat-primary, 500);
$theme-accent: mat.define-palette($mat-secondary, 500);
$theme-warn: mat.define-palette($mat-warn, 500);

$bluetheme: mat.define-light-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-accent,
      warn: $theme-warn,
    ),
    typography:
      mat.define-typography-config(
        $font-family: "Plus Jakarta Sans",
        $subtitle-2: mat.define-typography-level(14px, 14px, 400),
        $subtitle-1: mat.define-typography-level(21px, 26px, 500),
        $headline-6: mat.define-typography-level(18px, 26px, 600),
        $headline-5: mat.define-typography-level(24px, 30px, 700),
        $button: mat.define-typography-level(14px, 14px, 400),
        $body-1: mat.define-typography-level(14px, 20px, 400),
        $body-2: mat.define-typography-level(16px, 22px, 400),
      ),
  )
);

.bg-primary {
  background: mat.get-color-from-palette($theme-primary, 500) !important;
}
